<div class="center hero-unit">
  <h1>Welcome to Kupuna Care.</h1>

  <h2>
    The early stage support app for your iPad.
  </h2>

  <p>As you plan for the future care of your loved ones,<br> you will see there are great things happening here at Kupuna Care.</p>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
